.menu{
    padding:5px;
    display:flex;
    justify-content: left;
    height: 60px;
    align-items: center;
    background-color: lightgreen;
}

.menu a{
    text-transform: uppercase;
    font-size: 18px;
    color: brown;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none !important;
    margin: 10px;
}

.menu a:hover{
    color: red;
}